
// SLIDE IMAGENES TU ESPACIO
.item{
  padding: 10px;
}
#sync1 {
    .item {
      background: #fff;
      color: #FFF;
      // -webkit-border-radius: 3px;
      // -moz-border-radius: 3px;
      // border-radius: 3px;
      text-align: center;
      height: auto;
    }
  }
  
  #sync2 {
    .item {
      background: #fff;
      color: #FFF;
      // -webkit-border-radius: 3px;
      // -moz-border-radius: 3px;
      // border-radius: 3px;
      text-align: center;
      cursor: pointer;
      h1 {
        font-size: 18px;
      }
    }
    .current .item{
      background: #fff;
    }
  }

  
  .owl-theme {
    .owl-nav {
      /*default owl-theme theme reset .disabled:hover links */
 display: none;
      
    }
  }
  
  //arrows on first carousel
  #sync1.owl-theme {
    position: relative;
    .owl-next, .owl-prev {
      width: 22px;
      height: 40px;
      margin-top: -20px;
      position: absolute;
      top: 50%;
    }
    .owl-prev {
      left: 10px;
    }
    .owl-next {
      right: 10px;
    }
  }
// SLIDE IMAGENES TU ESPACIO